* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

.container {
    display: grid;
    grid-template: max-content 1fr / max-content 1fr;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.sidebar {
    max-height: 100vh;
    position: sticky;
    top: 0;
    grid-row: 1 / 3;
    background-color: #269e62;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    color: white;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-style: italic;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem 0;
    border-top: solid white 1px;
}

.sidebar-links > a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.separation {
    border-bottom: solid white 1px;
    margin: 1rem 0;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 1.5rem;
    color: rgb(130, 132, 144);
}

.header-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-options {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

input:not(:focus):placeholder-shown {
    padding: 0 5px;
    font-family: inherit;
    font-size: inherit;
    color: black;
    background-image: url(assets/icons/search-svgrepo-com.svg);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    border-radius: 30px;
    width: 40px;
    outline: none;
    border: none;
    transition: width 0.3s;
}

input, input:focus, input:focus:not(:placeholder-shown) {
    background-image: none;
    padding: 0 5px;
    font-family: inherit;
    font-size: inherit;
    color: black;
    width: 200px;
    outline: none;
    border: none;
    transition: width 0.3s;
}

.alerts {
    border-left: solid rgb(192, 192, 192) 1px;
    border-right: solid rgb(192, 192, 192) 1px;
    padding: 0 1rem;
}

.user-img > img {
    width: 3rem;
    height: 3rem;
    border: solid black 1px;
    border-radius: 50%;
}

.content-container {
    display: grid;
    grid-template: max-content 1fr / 1fr max-content;
}

.projects-title {
    padding-left: 3rem;
    color: rgb(65, 69, 81);
    font-size: 1.5rem;
}

.projects {
    display: grid;
    grid-template: repeat(auto-fit, minmax(350px, max-content)) / repeat(auto-fit, minmax(300px, max-content));
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}

.card {
    max-height: 350px;
    box-sizing: content-box;
    outline: white;
    border-radius: 15px;
    width: 300px;
    display: grid;
    grid-template-rows: max-content max-content max-content max-content;
    text-align:left;
    gap: 1rem;
    padding: 2rem;
    transition: all 0.3s;
    color: rgb(130, 132, 144);
}

.card:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
    outline: 2px solid lightblue;
}

.card-title {
    color: rgb(65, 69, 81);
}

.card > img {
    margin-bottom: 1rem;
    object-fit: cover;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

.card-footer {
    padding-right: 0.5rem;
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.card-footer > img {
    margin-top: 1rem;
    width: 20px;
    height: 20px;
}

.news-title {
    padding-left: 2.1rem;
    color: rgb(65, 69, 81);
    font-size: 1.5rem;
}

.news{
    display: grid;
    grid-template-rows: repeat(auto-fit, 500px, 1fr);
    padding: 2rem;
    gap: 2rem;
}

.twitter-card {
    width: 300px;
    height: auto;
}